<link rel="stylesheet" href="/css/footer.css">

<footer>
  <div class="company-rights">
    <p>©Saloni Jain. All Rights Reserverd</p>
  </div>

  <ul class="menu">
   <%if(locals.user){%>
    <li><a href="/users/profile/<%= locals.user._id %>">Profile</a></li>
    <%}%>
    <li><a href="/">Home</a></li>
  </ul>
</footer>