<link rel="stylesheet" href="/css/header.css">

<header>
  <div class="logo"><a href="/">Codeail</a></div>

  <div class="user-links">
    <% if(locals.user){ %>
        <p><%= user.name %></p>
        <a href="/users/sign-out">Signout</a>
    <% }else{ %>
    
        <a href="/users/sign-in">SignIn</a>
    
        <a href="/users/sign-up">SignUp</a>
    <%}%>
  </div>
</header>

