<link rel="stylesheet" href="<%= locals.assetPath('css/header.css') %>">

<header>
  <div class="logo"><a href="/">Codeail</a></div>
  
  <div class="user-links">
    <% if(locals.user){ %>
        <p><a href="/users/profile/<%= user.id %>" class="user-name"><%= user.name %></a></p>
        <a href="/users/sign-out">Signout</a>
    <% }else{ %>
    
        <a href="/users/sign-in">SignIn</a>
    
        <a href="/users/sign-up">SignUp</a>
    <%}%>
  </div>
</header>

