<link rel="stylesheet" href="<%=locals.assetPath('css/sign_in.css')%>">
<div class="sign-container">


    <h1 class="sign-heading">Sign In</h1>

    <form action="/users/create-session" method="POST">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Sign In">

    </form>
    <!-- <div class="">
        <p>Don't have a account? <a href="/users/sign-up">Sign Up</a></p>
    </div> -->
    <hr>

    <div class="" style="color:rgb(175, 175, 175) ; margin-top: 10%; font-size: 0.8rem;">
        <p>Or Sign in with</p>
    </div>
    <div class="additional">

        <a href="/users/auth/google"> &nbsp; <i class="fa-brands fa-google fa-2x"></i></a>
        <a href="/users/auth/google"> &nbsp; <i class="fa-brands fa-github fa-2x"></i></a>
        <a href="/users/auth/google"> &nbsp; <i class="fa-brands fa-facebook-f fa-2x"></i></a>
    </div>

    <div class="forget-password">
  
            <a href="/users/forget-password">Forgot password?</a>
        
    </div>
</div>