<link rel="stylesheet" href="/css/user_profile.css">
<div class="sign-container">
   
    <h1 class="sign-heading">Welcome,
        <%= user.name %>
    <br>
    Your email is: 
        <%= user.email %>

    </h1>
</div>


