.aside-right, .aside-left{
    width: 20%;
    height: 100%;
    background-color: blue;
}
.feed-post{
    width: 55%;
    .post-heading{
        color: white;
    }
#new-post-form{
    margin: 2% 0%;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 29px 12px 15px -3px rgba(0,0,0,0.1);
    background-color: var(--main-header-footer);
    display: flex;
    align-items: center;
    justify-content: space-between;

    textarea, button{
        overflow:auto;
        resize:none;
        border: none;
        outline: none;
        margin-top: .5rem;
        background-color: var(--main-light-gray);
        color: white;
        padding: .5rem 1.5rem;
        border-radius: 5px;
        &::placeholder {
            color: rgb(197, 193, 193);
          }
        
    }

    button{
        background-color: var(--main-purple);
    }
}
}


.post-card{
   color: white;
    margin-top: 2%;
    padding: 1% 2%;
    width: 100%;
    border-radius: 5px;
    box-shadow: 29px 12px 15px -3px rgba(0,0,0,0.1);
    background-color: var(--main-header-footer);
    .post-user{
      
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 5%;
        p{
            margin-left: 10px;
        }
        #time{
            font-size: .8rem;
            color: var(--sub-links)
        }
    }
    display: flex;
    flex-direction: column;
    .post-content{
        margin: 10px
    }
    .post-actions{
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content:flex-end;

        a{
            padding: .5rem 1rem;
            border-radius: 5px;
            text-decoration: none;
            margin-left: 10px;
            color: var(--sub-links);
            font-weight: lighter;
            font-size: .8rem;
            &:hover{
                background-color: var( --color-border-faint);
            }
          
        }

       
    }

    #new-comment-form{
        display: flex;
            
        #comment, button{
            display: flex;
            align-items: center;
            border: none;
            outline: none;
            margin: .5rem 1rem;
            background-color: var(--main-light-gray);
            color: white;
            padding: .5rem 1rem;
            border-radius: 5px;
            &::placeholder {
                color: rgb(197, 193, 193);
              }
            
        }
        #comment{
            border-radius: 10px;
            width: 100%;
            overflow:auto;
            resize:none
        }
    
        button{
            background-color: var(--main-purple);
        }
        

        }

        .comment-list{
            li{
                display: flex;
                flex-direction: column;
                word-wrap: break-word;
                background-color: rgb(60,67,69);
                padding: 1rem;
                margin: 10px;
                border-radius: 0px 15px 15px 15px;
                .comment-user{
                    font-size: .8rem;
                    color: var(--sub-links);
                    margin-bottom: 10px
                }
            }
        }
}
hr{
    height: 1px;
    background-color: var( --color-border-faint);
    border: none;
}