.feed-post{
    width: 40%;
    .post-heading{
        color: white;
    }
form{
    margin: 2% 0%;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 29px 12px 15px -3px rgba(0,0,0,0.1);
    background-color: var(--main-light-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;

    textarea, button{
        border: none;
        outline: none;
        margin-top: .5rem;
        background-color: gray;
        color: white;
        padding: .5rem 1rem;
        border-radius: 5px;
        &::placeholder {
            color: rgb(197, 193, 193);
          }
        
    }
}
}


.post-card{
   color: white;
    margin-top: 2%;
    padding: 1% 2%;
    width: 100%;
    border-radius: 5px;
    box-shadow: 29px 12px 15px -3px rgba(0,0,0,0.1);
    background-color: var(--main-light-gray);
    .post-user{
      
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 5%;
        p{
            margin-left: 10px;
        }
        #time{
            font-size: .8rem;
            color: var(--sub-links)
        }
    }
    display: flex;
    flex-direction: column;
    .post-content{
        margin: 10px
    }
    .post-actions{
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a{
            text-decoration: none;
            color: var(--sub-links);
            font-weight: lighter;

            i{
                font-size: 1.4rem;
    
            }
        }
        
    }
}
hr{
    height: 1px;
    background-color: #626161;
    border: none;
}