:root {
    --color-border-faint:hsla(0,0%,100%,0.12);
    --main-header-footer: rgb(29,34,38);
    --main-body: rgb(0,0,0);
    --main-purple:  rgb(134, 4, 185);
    --main-light-gray: rgb(56,67,79);
    --main-dark: rgb(18, 15, 26);
    --sub-links: rgb(164, 164, 164);
    --comment-bg:  rgb(60, 67, 69);

   }
*{
    font-weight: 300;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{

    background-color: var(--main-body);
 
}
hr {
    height: 1px;
    background-color: var(--color-border-faint);
    border: none;
}

main{
    height: auto;
   padding: 0% 2%;
   width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
   
}


.sign-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    background-color: var(--main-header-footer);
    padding: 2rem;
    border-radius: 5px;

    .sign-heading{
        color: white;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        input, label{
            border: none;
            outline: none;
            margin-top: .5rem;
            background-color: rgb(56,67,79);
            color: white;
            padding: .5rem 1rem;
            border-radius: 5px;
            &::placeholder {
                color: rgb(197, 193, 193);
              }
            &[type=submit]{
                margin-top: 1.5rem;
                background-color: var(--main-purple);
                
            }
        }
    }
}

.additional {
    font-size: 0.7rem;
    color: white;
    margin-top: 20px;
    a{
        text-decoration: none;
        color: var(--main-purple);
        font-weight: 900;
    }
}
