.profile-container{
    margin-bottom: 10%;
    width: auto;
    margin-top: 5%;
    background-color: var(--main-header-footer);
    padding: 2rem;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2%;
    .profile-img{
        width: 50%;
    }
    .name{
        padding: 0rem 1rem;
        color: white;
        font-size: 1.5rem;
    }
    .profile-actions {
        margin-top: 40%;

        a {
            padding: 0.5rem 1rem;
            border-radius: 5px;
            text-decoration: none;
            color: var(--sub-links);
            font-weight: lighter;
            font-size: 0.8rem;
            &:hover {
                background-color: var(--color-border-faint);
            }
        }
    }
}
.update-profile-info{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    label{
        
    }
}

.uppercase{
    text-transform:  uppercase;
}

.follow {
    color: white!important;
    background-color: var(--main-purple);
   
}
.remove, .delete{  
    color: white!important; 
    background-color: rgb(247, 62, 102);
}

.box{
    background-color: var(--color-border-faint);
}