.user-chat-box {
  background-color: var(--comment-bg);
  padding: 1%;
  margin: 1%;
  position: sticky;
  width: 23%;
  left: 85vw;
  bottom: 1vw;
  height: 320px;
  border-radius: 5px;
}
.user-chat-box .chat-heading {
  color: white;
  text-align: center;
  margin-bottom: 1%;
}
.user-chat-box .chat-messages-list {
  overflow: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 80%;
  font-size: 0.85rem;
}
.user-chat-box .chat-messages-list .other-message, .user-chat-box .chat-messages-list .self-message {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  margin: 2% 0%;
  width: 100%;
}
.user-chat-box .chat-messages-list .other-message sub, .user-chat-box .chat-messages-list .self-message sub {
  font-size: 0.6rem;
}
.user-chat-box .chat-messages-list .other-message hr, .user-chat-box .chat-messages-list .self-message hr {
  margin-top: 3%;
}
.user-chat-box .chat-messages-list .self-message {
  padding-right: 3%;
  left: 100%;
  text-align: right;
}
.user-chat-box #chat-message-input-container {
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-chat-box #chat-message-input-container input[type=text] {
  width: 70%;
  background-color: var(--main-header-footer);
}
.user-chat-box #chat-message-input-container input, .user-chat-box #chat-message-input-container button {
  border: none;
  outline: none;
  margin: 1%;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
}
.user-chat-box #chat-message-input-container input::placeholder, .user-chat-box #chat-message-input-container button::placeholder {
  color: rgb(197, 193, 193);
}
.user-chat-box #chat-message-input-container button {
  background-color: var(--main-purple);
}