footer {
  position: sticky;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--main-dark);
  color: white;
  top: 100%;
  height: 5%;
  padding: 2% 5%;
}
footer .company-rights {
  color: rgb(124, 126, 126);
}
footer li {
  list-style: none;
}
footer li a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}
footer li a:hover {
  color: var(--main-purple);
}